/*! fonts.scss | Vuero | Css ninja 2020-2023 */

:root {
  --font: "Roboto", sans-serif;
  --font-alt: "Montserrat", sans-serif;
  --font-monospace: "Fira Code", monospace;
  --font-size: 13px;
}

// @media (min-width: 1440px) {
//   :root {
//     --font-size: 14px; // Extra-large screens (e.g., desktops)
//   }
// }

// @media (min-width: 1920px) {
//   :root {
//     --font-size: 18px; // 2K screens
//   }
// }

// @media (min-width: 3840px) {
//   :root {
//     --font-size: 20px; // 4K screens
//   }
// }
